<ion-view view-title="Setting Device">
	<ion-content class="padding" style="background: url(img/setting_device.jpg) center; background-size: cover;">
		<div class="card animated fadeInUpBig" style="background:Royalblue;text-align:center; font-size=300%;"><h3 style="color:white"><b>Relay 2 [Publisher]</b></h3>
			<div class="item item-text-wrap" style="text-align:center">
				<ion-item>
					<div ng-Show=SavedRelay2>
						<div><b> Saved Setting </b></div><br>
						<div style="text-align:left">
							<big>Write Api Key : <big id="ApiKeyRelay2"> - </big> </big><br>
							<big>Field Number : <big id="FieldRelay2"> - </big> </big><br><br>
						</div>
						<button class="button button-full icon-left ion-ios-trash-outline button-assertive" ng-click="removeRelay2()">Delete</button>
					</div>
					<div ng-Show=!SavedRelay2>
						<div> No Saved Setting </div>
					</div>
				</ion-item>
				<ion-item>
				<div ng-Show=!SavedRelay2>
					<b><div> New Setting</div></b><br>
					<p style="text-align:justify"> Jika digunakan lebih dari 1 buah relai maka masing-masing relai diusahakan berbeda channel.
					Tujuannya untuk menghindari delay time pengiriman perintah sebesar 15 s.</p>
          <div class="list list-inset">
						<div style="text-align:left"> Write Api Key : </div>
            <label class="item item-input"  style="background:teal">
              <input type="text" style="color:white;font-size:100%" placeholder="Api Key" ng-model="Relay2.ApiKey">
            </label>
						<div style="text-align:left"> Field Number : </div>
            <label class="item item-input"  style="background:teal">
            	<input type="text" style="color:white;font-size:100%" placeholder="Field Number" ng-model="Relay2.Field">
            </label>
          </div>
          <button class="button button-full icon-left ion-checkmark button-positive" ng-click="SaveRelay2()">Save</button>
      </div>
			</ion-item>
    </div>
  </div>
  </ion-content>
</ion-view>
